<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<div class="needs-update-list panel panel-{f:if(condition: '{needsUpdateList}', then: 'default', else: 'success')}">
    <div class="panel-heading">Needs Update</div>

    <f:if condition="{needsUpdateList}">
        <f:then>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Domain</th>
                        <th scope="col">New Version</th>
                    </tr>
                </thead>
                <tbody>
                    <f:for each="{needsUpdateList}" as="domain" key="label" iteration="i">
                        <tr>
                            <td data-label="Domain">
                                {label}
                            </td>
                            <td data-label="New Version">
                                {domain.toVersion}
                            </td>
                        </tr>
                    </f:for>
                </tbody>
            </table>
        </f:then>
        <f:else>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Domain</th>
                        <th scope="col">New Version</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Domain">
                            Keine TYPO3 Installation benötigt ein Update!
                        </td>
                        <td data-label="New Version">
                            Gut gemacht :)
                        </td>
                    </tr>
                </tbody>
            </table>
        </f:else>
    </f:if>
</div>

</html>
