<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<div class="outdated-versions">
    <f:if condition="{eltsList}">
        <f:then>
            <f:comment>TODO: show newset LTS version</f:comment>
            <table>
                <caption>Outdated Versions</caption>
                <thead>
                    <tr>
                        <th scope="col">Domain</th>
                        <th scope="col">old Version</th>
                    </tr>
                </thead>
                <tbody>
                    <f:for each="{eltsList}" as="domain" key="label" iteration="i">
                        <tr>
                            <td data-label="Domain">
                                {label}
                            </td>
                            <td data-label="New Version">
                                {domain.installedVersion}
                            </td>
                        </tr>
                    </f:for>
                </tbody>
            </table>
        </f:then>
        <f:else>
            <table>
                <caption>Outdated Versions</caption>
                <thead>
                    <tr>
                        <th scope="col">Domain</th>
                        <th scope="col">old Version</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Domain">
                            Keine total veraltete TYPO3 Version!
                        </td>
                        <td data-label="New Version">
                            Gut gemacht :)
                        </td>
                    </tr>
                </tbody>
            </table>
        </f:else>
    </f:if>
</div>

</html>
