<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:if condition="{eltsList}">
    <div class="outdated-versions">
        <f:comment>TODO: show newset LTS version</f:comment>
        <table>
            <caption>Outdated Versions</caption>
            <thead>
                <tr>
                    <th scope="col">Domain</th>
                    <th scope="col">old Version</th>
                </tr>
            </thead>
            <tbody>
                <f:for each="{eltsList}" as="domain" key="label" iteration="i">
                    <tr>
                        <td data-label="Domain">
                            {label}
                        </td>
                        <td data-label="New Version">
                            {domain.installedVersion}
                        </td>
                    </tr>
                </f:for>
            </tbody>
        </table>
    </div>
</f:if>

</html>